.container, html{
  height:100%;
}

body {
  padding-bottom: 40px;
  background-color: #000;
  height:100%;
}

h1 {
  padding-bottom: 10px;
}

.navbar .brand {
    display: block;
    float: right;
    padding: 18px 20px 12px;
    margin-left: -20px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    color: #fff;
}

.navbar-inner {
  height:80px;
  border-bottom:white solid;
  border-top:white solid;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color:#900;
}

.navbar .nav > li > a {
  font-size: 30px;
  padding: 30px;
}


.row:nth-child(1) {
    background: url('http://src.sencha.io/https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/257443_899706828351_3115224_o.jpg');
}

.row:nth-child(2) {
    background: url('https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/483054_10100364029054861_1364590232_n.jpg');
}

.row:nth-child(2) .hero-unit {
    text-align: right;
}

.row:nth-child(3) .hero-unit,
.row:nth-child(4) .hero-unit,
.row:nth-child(5) .hero-unit
{
    background: none;
    color: white;
}

.row:nth-child(3) .hero-unit a {
    color: skyblue;
}

.row:nth-child(3) .hero-unit tr:hover {
    color: black;
}

.row:nth-child(3) .hero-unit tr:hover a {
    color: #005580;
}

.row:nth-child(5) .row {
    margin-top:50px;
    padding-top:0px;
    background:none;
}

.row {
    background: url('http://src.sencha.io/http://www.hv-designs.co.uk/tutorials/webdesign_layout9/wood.jpg');
    padding-top: 150px;
    margin-right: -20px;
    min-height:100%; !important
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row-inner {
   background: white;
   height:30px;
}

.hero-unit {
  width:88%; 
  margin-left:auto;
  margin-right:auto; 
  background: rgba(255, 255, 255, 0.8 ) ;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

#awardstbl tr {
    font-size: 20px;
    line-height: 1.5;
}

#awardstbl td {
    padding: 10px;
}

#footer {
  float:left;
}

#copyright {
  float:right;
}

#footer, #copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
}

.contact-icon {
    width: 64px;
    height: 64px;
    margin-top: -35px;
}

.icon-fb {
    background: url('./icon/facebook.png');
}

.icon-tw {
    background: url('./icon/twitter.png');
}

.icon-in {
    background: url('./icon/linkedin.png');
}

.icon-gp {
    background: url('./icon/google+.png');
}

.icon-gm {
    background: url('./icon/gmail.png');
}

.icon-gh {
    background: url('./icon/github.png') center no-repeat;
    background-size: 54px;
}

#profilepic {
/*    background: url('https://lh4.googleusercontent.com/-3RnAbQPfHGI/AAAAAAAAAAI/AAAAAAAAB98/md2sWgvMow4/s800/photo.jpg') center no-repeat #fff;*/
    background-size: 250px 250px;
    width: 230px;
    height: 250px;
    border: solid white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 1;
    position: relative;
    margin-left: 250px;
    margin-top: -50px;
}

.nav-tabs a {
    font-size: 20px;
    color: #ccc;
}

.nav-tabs a:hover, .well {
    color:black;
}

